# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
package-lock.json

# Builds
cleanup-tracker-app/client/build/

# Env files
cleanup-tracker-app/server/.env
cleanup-tracker-app/client/.env

# Misc
.DS_Store
.env
.idea/
.vscode/
# Cache
*.eslintcache
cleanup-tracker-app/client/node_modules/.cache/
